.option__wrap {
    height: 35px;
    border-bottom: black 1px solid;

    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.option__wrap:last-of-type {
    border-bottom: none;
}

.option__wrap svg {
    display: none;
    position: absolute;
    right: 10px
}

.option__wrap:hover svg {
    display: inline;
}